/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-radius: 10px;
}

::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

::-webkit-scrollbar-corner {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 10px;
}

@page {
  size: A4;
  margin: 0;
  padding: 0;
  -webkit-print-color-adjust: exact;
}

@media print {
  body {
    visibility: hidden;
  }
  .right-side,
  .right-side * {
    visibility: visible;
  }
  .right-side {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
}
