<h4>PERSONAL INFO</h4>
<form
  #info="ngForm"
  (key.enter)="personal_info(info)"
  (ngSubmit)="personal_info(info)"
>
  <label for="name">Name :</label>
  <br />
  <input
    type="text"
    name="name"
    id="name"
    placeholder="e.g. Sachine Tendulkar"
    ngModel
  />
  <br />
  <label for="email">Email :</label>
  <br />
  <input
    type="text"
    name="email"
    id="email"
    placeholder="e.g. abc123@gmail.com (optional)"
    ngModel
  />
  <br />
  <label for="github">Github Link :</label>
  <br />
  <input
    type="text"
    name="github"
    id="github"
    placeholder="e.g. https://github.com/[account-name] (optional)"
    ngModel
  />
  <br />
  <label for="linkedin">Linkedin Link :</label>
  <br />
  <input
    type="text"
    name="linkedin"
    id="linkedin"
    placeholder="e.g. https://www.linkedin.com/in/[account-name] (optional)"
    ngModel
  />
  <br />
  <label for="mobile">Mobile Number : </label>
  <br />
  <input
    type="text"
    name="mobile"
    id="mobile"
    placeholder="e.g. +91 1234567890 (optional)"
    ngModel
  />
  <br />
  <label for="portfolio">Portfolio : </label>
  <br />
  <input
    type="text"
    name="portfolio"
    id="portfolio"
    placeholder="e.g. link of portfolio website"
    ngModel
  />
  <br />
  <div (click)="reset(info)" class="btn btn-danger">reset personal info</div>
  <button class="btn btn-success">add personal info</button>
</form>
